.로그인메인 {
  width: 100%;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.로그인사이즈조정 {
  width: 82%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.에러메시지 {
  font-size: 13px;
  max-width: 80%;
  color: rgb(254, 139, 139);
}

.각각의폼디브 {
  background-color: #fff9f6;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 1px 2px 1px 2px;
  margin-bottom: 20px;
}
.인풋창 {
  background-color: #fff9f6;
  border: 0px;
  border-radius: 8px;
  padding: 7px 2px 7px 2px;
  max-width: 60%;
}
.인풋창:focus {
  outline: none;
  border: 0px;
}
.버튼디브 {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.로그인버튼 {
  background-color: #57423f;
  border-radius: 5px;
  font-weight: 100;
  color: rgb(248, 255, 255);
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
