:root {
  --main1: #f5998f;
  --main2: #57423f;
  --main3: #bfa6a2;
  --main4: #fff9f6;
  --main5: #9b8683;
  --main6: #f5998f;
  --gomin1: #2f4858;
  --gomin2: #455371;
  --gomin3: #6a5b82;
  --gomin4: #946087;
  --gomin5: #ba667e;
  --blur1: #fff9f680;
  /* 1번이 모달컬러 */
  --blur2: #ddccc380;
  /* 책장뒷편 쓰는색 */
  --deletecolor: linear-gradient(
    135deg,
    rgba(116, 91, 127, 1) 0%,
    rgba(245, 153, 143, 1) 100%
  );
  --followcolor: linear-gradient(
    135deg,
    rgba(148, 96, 135, 1) 0%,
    rgba(69, 83, 113, 1) 100%
  );
  --papercolor: linear-gradient(
    150deg,
    rgba(255, 250, 247, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.input {
  margin-top: 10px;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  background: var(--blur1);
  border: solid 2px var(--main2);
  transition: 0.3s;
  box-shadow: 0 0 10px -4px var(--main2);
}
.input:focus {
  border: solid 2px var(--main3);
  background-color: var(--main4);
}
.input::placeholder {
  color: var(--main3);
  font-size: 20px;
}
.label {
  font-size: 18px;
  padding-left: 10px;
}
.button {
  width: 380px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  background-color: var(--main3);
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 0 15px var(--main3);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--main2);
  color: var(--main5);
  transform: scale(1.03) translateY(-3px);
}

.shakeAnimation {
  animation: gentleShake 0.5s ease-in-out;
}

@keyframes gentleShake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  40%,
  60% {
    transform: translateX(4px);
  }
}

.error {
  color: var(--gomin5);
  padding: 15px 10px 0px;
  font-size: 14px;
}
.btn {
  position: absolute;
  right: 18px;
  top: 46.5px;
  padding: 10px;
  background-color: var(--blur2);
  border-radius: 5px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #938882af;
}
