:root {
  --main1: #f5998f;
  --main2: #57423f;
  --main3: #bfa6a2;
  --main4: #fff9f6;
  --main5: #9b8683;
  --main6: #f5998f;
  --gomin1: #2f4858;
  --gomin2: #455371;
  --gomin3: #6a5b82;
  --gomin4: #946087;
  --gomin5: #ba667e;
  --blur1: #fff9f680;
  /* 1번이 모달컬러 */
  --blur2: #ddccc380;
  /* 책장뒷편 쓰는색 */
  --deletecolor: linear-gradient(
    135deg,
    rgba(116, 91, 127, 1) 0%,
    rgba(245, 153, 143, 1) 100%
  );
  --followcolor: linear-gradient(
    135deg,
    rgba(148, 96, 135, 1) 0%,
    rgba(69, 83, 113, 1) 100%
  );
  --papercolor: linear-gradient(
    150deg,
    rgba(255, 250, 247, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
}

.미드중앙사이즈조정 {
  position: relative;
  width: 35.2vi;
  height: 41.6vi;
  background-color: var(--blur2);
  border-radius: 5px;
  border: solid 0.05vi var(--main2);
}
.이미지업로드부분 {
  position: absolute;
  top: 95px;
  left: 5px;
  width: 310px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.이미지업로드버튼 {
  background-color: #57423f;
  width: 40px;
  height: 40px;
  font-size: 27px;
  color: #ffffff;
}

.editor1 {
  background-color: var(--blur1);
  border-radius: 5px;
}
.editor2 {
  background-color: var(--blur1);
  border-radius: 5px;
}

.toolbar {
  position: absolute;
  top: -4.5vi;
  left: 0;
  z-index: 4;
}
/* .toolbar a {
  font-size: 1vi;
}
.toolbar div {
  margin: 0px 0.1vi;
}
.toolbar > div {
  padding: 0.1vi 0px;
  margin: 0;
}
.toolbar > div > div {
  width: 1.3vi;
  height: 0.9vi;
}

.toolbar > div:nth-child(2) > div {
  width: 11.4vi;
  height: 1.42vi;
} */

.FileInput_hidden_overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
