.position {
  position: relative;
  width: calc(35.2vi / 5);
  height: calc(41.6vi / 5);
  border: solid 1px var(--main2);
  border-radius: 5px;
  box-shadow: 0 0 0.2vi 0 var(--main2);
  transform: scale(1);
  transition: 0.3s;
}
.select {
  transform: scale(1.1);
}
.position > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blur2);
  border-radius: 5px;
  overflow: hidden;
  font-size: 1vi;
}
.select > div {
  background-color: var(--main3);
  color: var(--main4);
}
/* width: 35.2vi; 11*calc(3./5)2 */
/* height: calc(41.6vi/5); 13*3.2 */
/* 갭은 0.5vi */

/* 레이아웃 1101 = 9:16사진 1개 */
.text1_1101 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(21.3vi / 5);
}
.text2_1101 {
  opacity: 0;
}
.img1_1101 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}
.img2_1101 {
  opacity: 0;
}

/* 레이아웃 1102 = 9:16사진 1개 */
.text1_1102 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(10.4vi / 5);
}
.text2_1102 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(10.4vi / 5);
}
.img1_1102 {
  top: calc(10.9vi / 5);
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}
.img2_1102 {
  opacity: 0;
}

/* 레이아웃 1103 = 9:16사진 1개 */
.text1_1103 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(21.3vi / 5);
}
.text2_1103 {
  opacity: 0;
}
.img1_1103 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}
.img2_1103 {
  opacity: 0;
}

/* 레이아웃 1201 = 3:4사진 1개 */
.text1_1201 {
  right: 0;
  top: 0;
  width: calc(17.35vi / 5);
  height: calc(13.0125vi / 5);
}
.text2_1201 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(28.0875vi / 5);
}
.img1_1201 {
  left: 0;
  top: 0;
  width: calc(17.35vi / 5);
  height: calc(13.0125vi / 5);
}
.img2_1201 {
  opacity: 0;
}

/* 레이아웃 1202 = 3:4사진 1개 */
.text1_1202 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(28.0875vi / 5);
}
.text2_1202 {
  left: 0;
  bottom: 0;
  width: calc(17.35vi / 5);
  height: calc(13.0125vi / 5);
}
.img1_1202 {
  right: 0;
  bottom: 0;
  width: calc(17.35vi / 5);
  height: calc(13.0125vi / 5);
}
.img2_1202 {
  opacity: 0;
}

/* 레이아웃 1203 = 3:4사진 1개 */
.text1_1203 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(14.7vi / 5);
}
.text2_1203 {
  opacity: 0;
}
.img1_1203 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(26.4vi / 5);
}
.img2_1203 {
  opacity: 0;
}

/* 레이아웃 1204 = 3:4사진 1개 */
.text1_1204 {
  top: 0;
  left: 0;
  width: calc(35.2vi / 5);
  height: calc(7.1vi / 5);
}
.text2_1204 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(7.1vi / 5);
}
.img1_1204 {
  top: calc(7.6vi / 5);
  left: 0;
  width: calc(35.2vi / 5);
  height: calc(26.4vi / 5);
}
.img2_1204 {
  opacity: 0;
}

/* 레이아웃 1205 = 3:4사진 1개 */
.text1_1205 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(14.7vi / 5);
}
.text2_1205 {
  opacity: 0;
}
.img1_1205 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(26.4vi / 5);
}
.img2_1205 {
  opacity: 0;
}

/* 레이아웃 1301 = 1:1사진 1개 */
.text1_1301 {
  right: 0;
  top: 0;
  width: calc(17.35vi / 5);
  height: calc(17.35vi / 5);
}
.text2_1301 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(23.75vi / 5);
}
.img1_1301 {
  left: 0;
  top: 0;
  width: calc(17.35vi / 5);
  height: calc(17.35vi / 5);
}
.img2_1301 {
  left: 0;
  top: 0;
  opacity: 0;
}

/* 레이아웃 1302 = 1:1사진 1개 */
.text1_1302 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(23.75vi / 5);
}
.text2_1302 {
  left: 0;
  bottom: 0;
  width: calc(17.35vi / 5);
  height: calc(17.35vi / 5);
}
.img1_1302 {
  right: 0;
  bottom: 0;
  width: calc(17.35vi / 5);
  height: calc(17.35vi / 5);
}
.img2_1302 {
  left: 0;
  top: 0;
  opacity: 0;
}

/* 레이아웃 1303 = 1:1사진 1개 */
.text1_1303 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(5.9vi / 5);
}
.text2_1303 {
  opacity: 0;
}
.img1_1303 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(35.2vi / 5);
}
.img2_1303 {
  opacity: 0;
}

/* 레이아웃 1304 = 1:1사진 1개 */
.text1_1304 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(5.9vi / 5);
}
.text2_1304 {
  opacity: 0;
}
.img1_1304 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(35.2vi / 5);
}
.img2_1304 {
  opacity: 0;
}

/* 레이아웃 1401 = 4:3사진 1개 */
.text1_1401 {
  right: 0;
  top: 0;
  width: calc(17.35vi / 5);
  height: calc(23.1333333vi / 5);
}
.text2_1401 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(17.9666666vi / 5);
}
.img1_1401 {
  left: 0;
  top: 0;
  width: calc(17.35vi / 5);
  height: calc(23.1333333vi / 5);
}
.img2_1401 {
  left: 0;
  top: 0;
  opacity: 0;
}

/* 레이아웃 1402 = 4:3사진 1개 */
.text1_1402 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(17.9666666vi / 5);
}
.text2_1402 {
  left: 0;
  bottom: 0;
  width: calc(17.35vi / 5);
  height: calc(23.1333333vi / 5);
}
.img1_1402 {
  right: 0;
  bottom: 0;
  width: calc(17.35vi / 5);
  height: calc(23.1333333vi / 5);
}
.img2_1402 {
  left: 0;
  top: 0;
  opacity: 0;
}

/* 레이아웃 1501 = 16:9사진 1개 */
.text1_1501 {
  right: 0;
  top: 0;
  width: calc(17.35vi / 5);
  height: calc(30.8444444vi / 5);
}
.text2_1501 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(10.2555555vi / 5);
}
.img1_1501 {
  left: 0;
  top: 0;
  width: calc(17.35vi / 5);
  height: calc(30.8444444vi / 5);
}
.img2_1501 {
  left: 0;
  top: 0;
  opacity: 0;
}

/* 레이아웃 1502 = 16:9사진 1개 */
.text1_1502 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(10.2555555vi / 5);
}
.text2_1502 {
  left: 0;
  bottom: 0;
  width: calc(17.35vi / 5);
  height: calc(30.8444444vi / 5);
}
.img1_1502 {
  right: 0;
  bottom: 0;
  width: calc(17.35vi / 5);
  height: calc(30.8444444vi / 5);
}
.img2_1502 {
  left: 0;
  top: 0;
  opacity: 0;
}

/* 레이아웃 1503 = 16:9사진 1개 */
.text1_1503 {
  top: 0;
  left: 0;
  width: calc(11.3vi / 5);
  height: 100%;
}
.text2_1503 {
  top: 0;
  left: 0;
  opacity: 0;
}
.img1_1503 {
  right: 0;
  top: 0;
  width: calc(23.4vi / 5);
  height: 100%;
}
.img2_1503 {
  top: 0;
  left: 0;
  opacity: 0;
}

/* 레이아웃 1504 = 16:9사진 1개 */
.text1_1504 {
  top: 0;
  right: 0;
  width: calc(11.3vi / 5);
  height: 100%;
}
.text2_1504 {
  top: 0;
  left: 0;
  opacity: 0;
}
.img1_1504 {
  left: 0;
  top: 0;
  width: calc(23.4vi / 5);
  height: 100%;
}
.img2_1504 {
  top: 0;
  left: 0;
  opacity: 0;
}

/* 레이아웃 2111 = 9:16사진 2개 */
.text1_2111 {
  top: 0;
  right: 0;
  width: calc(17.35vi / 5);
  height: calc(9.759375vi / 5);
}
.text2_2111 {
  top: calc(10.259375vi / 5);
  right: 0;
  width: 100%;
  height: calc(11.040625vi / 5);
}
.img1_2111 {
  top: 0;
  left: 0;
  width: calc(17.35vi / 5);
  height: calc(9.759375vi / 5);
}
.img2_2111 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}

/* 레이아웃 2112 = 9:16사진 2개 */
.text1_2112 {
  bottom: calc(10.259375vi / 5);
  right: 0;
  width: 100%;
  height: calc(11.040625vi / 5);
}
.text2_2112 {
  bottom: 0;
  left: 0;
  width: calc(17.35vi / 5);
  height: calc(9.759375vi / 5);
}
.img1_2112 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}
.img2_2112 {
  bottom: 0;
  right: 0;
  width: calc(17.35vi / 5);
  height: calc(9.759375vi / 5);
}

/* 레이아웃 2141 = 9:16사진 1개 4:3사진 1개 */
.text1_2141 {
  bottom: 0;
  right: 0;
  width: calc(18.725vi / 5);
  height: calc(21.3vi / 5);
}
.text2_2141 {
  opacity: 0;
}
.img1_2141 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}
.img2_2141 {
  bottom: 0;
  left: 0;
  width: calc(15.975vi / 5);
  height: calc(21.3vi / 5);
}

/* 레이아웃 2411 = 9:16사진 1개 4:3사진 1개 */
.text1_2411 {
  top: 0;
  right: 0;
  width: calc(18.725vi / 5);
  height: calc(21.3vi / 5);
}
.text2_2411 {
  opacity: 0;
}
.img1_2411 {
  top: 0;
  left: 0;
  width: calc(15.975vi / 5);
  height: calc(21.3vi / 5);
}
.img2_2411 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}

/* 레이아웃 2151 = 9:16사진 1개 16:9사진 1개 */
.text1_2151 {
  bottom: 0;
  right: 0;
  width: calc(22.71875vi / 5);
  height: calc(21.3vi / 5);
}
.text2_2151 {
  opacity: 0;
}
.img1_2151 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}
.img2_2151 {
  bottom: 0;
  left: 0;
  width: calc(11.98125vi / 5);
  height: calc(21.3vi / 5);
}

/* 레이아웃 2511 = 9:16사진 1개 16:9사진 1개 */
.text1_2511 {
  top: 0;
  right: 0;
  width: calc(22.71875vi / 5);
  height: calc(21.3vi / 5);
}
.text2_2511 {
  opacity: 0;
}
.img1_2511 {
  top: 0;
  left: 0;
  width: calc(11.98125vi / 5);
  height: calc(21.3vi / 5);
}
.img2_2511 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(19.8vi / 5);
}

/* 레이아웃 2221 = 3:4사진 2개 */
.text1_2221 {
  top: 0;
  right: 0;
  width: calc(7.3vi / 5);
  height: calc(20.55vi / 5);
}
.text2_2221 {
  bottom: 0;
  left: 0;
  width: calc(7.3vi / 5);
  height: calc(20.55vi / 5);
}
.img1_2221 {
  top: 0;
  left: 0;
  width: calc(27.4vi / 5);
  height: calc(20.55vi / 5);
}
.img2_2221 {
  bottom: 0;
  right: 0;
  width: calc(27.4vi / 5);
  height: calc(20.55vi / 5);
}

/* 레이아웃 2231 = 3:4사진 1개 1:1사진 1개 */
.text1_2231 {
  bottom: 0;
  right: 0;
  width: calc(20vi / 5);
  height: calc(14.7vi / 5);
}
.text2_2231 {
  opacity: 0;
}
.img1_2231 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(26.4vi / 5);
}
.img2_2231 {
  bottom: 0;
  left: 0;
  width: calc(14.7vi / 5);
  height: calc(14.7vi / 5);
}

/* 레이아웃 2321 = 3:4사진 1개 1:1사진 1개 */
.text1_2321 {
  top: 0;
  right: 0;
  width: calc(20vi / 5);
  height: calc(14.7vi / 5);
}
.text2_2321 {
  opacity: 0;
}
.img1_2321 {
  top: 0;
  left: 0;
  width: calc(14.7vi / 5);
  height: calc(14.7vi / 5);
}
.img2_2321 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(26.4vi / 5);
}

/* 레이아웃 2331 = 1:1사진 2개 */
.text1_2331 {
  top: 0;
  right: 0;
  width: calc(14.15vi / 5);
  height: calc(20.55vi / 5);
}
.text2_2331 {
  bottom: 0;
  left: 0;
  width: calc(14.15vi / 5);
  height: calc(20.55vi / 5);
}
.img1_2331 {
  top: 0;
  left: 0;
  width: calc(20.55vi / 5);
  height: calc(20.55vi / 5);
}
.img2_2331 {
  bottom: 0;
  right: 0;
  width: calc(20.55vi / 5);
  height: calc(20.55vi / 5);
}

/* 레이아웃 2332 = 1:1사진 2개 */
.text1_2332 {
  bottom: 0;
  right: 0;
  width: calc(28.8vi / 5);
  height: calc(5.9vi / 5);
}
.text2_2332 {
  opacity: 0;
}
.img1_2332 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(35.2vi / 5);
}
.img2_2332 {
  bottom: 0;
  left: 0;
  width: calc(5.9vi / 5);
  height: calc(5.9vi / 5);
}

/* 레이아웃 2333 = 1:1사진 2개 */
.text1_2333 {
  top: 0;
  right: 0;
  width: calc(28.8vi / 5);
  height: calc(5.9vi / 5);
}
.text2_2333 {
  opacity: 0;
}
.img1_2333 {
  top: 0;
  left: 0;
  width: calc(5.9vi / 5);
  height: calc(5.9vi / 5);
}
.img2_2333 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(35.2vi / 5);
}

/* 레이아웃 2322 = 1:1사진 1개 3:4사진 1개 */
.text1_2322 {
  bottom: 0;
  right: 0;
  width: calc(26.8333333vi / 5);
  height: calc(5.9vi / 5);
}
.text2_2322 {
  opacity: 0;
}
.img1_2322 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(35.2vi / 5);
}
.img2_2322 {
  bottom: 0;
  left: 0;
  width: calc(7.86666666vi / 5);
  height: calc(5.9vi / 5);
}

/* 레이아웃 2232 = 1:1사진 1개 3:4사진 1개 */
.text1_2232 {
  top: 0;
  right: 0;
  width: calc(26.8333333vi / 5);
  height: calc(5.9vi / 5);
}
.text2_2232 {
  opacity: 0;
}
.img1_2232 {
  top: 0;
  left: 0;
  width: calc(7.86666666vi / 5);
  height: calc(5.9vi / 5);
}
.img2_2232 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(35.2vi / 5);
}

/* 레이아웃 2311 = 1:1사진 1개 9:16사진 1개 */
.text1_2311 {
  bottom: 0;
  right: 0;
  width: calc(24.2111111vi / 5);
  height: calc(5.9vi / 5);
}
.text2_2311 {
  opacity: 0;
}
.img1_2311 {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(35.2vi / 5);
}
.img2_2311 {
  bottom: 0;
  left: 0;
  width: calc(10.4888888vi / 5);
  height: calc(5.9vi / 5);
}

/* 레이아웃 2131 = 1:1사진 1개 9:16사진 1개 */
.text1_2131 {
  top: 0;
  right: 0;
  width: calc(24.2111111vi / 5);
  height: calc(5.9vi / 5);
}
.text2_2131 {
  opacity: 0;
}
.img1_2131 {
  top: 0;
  left: 0;
  width: calc(10.4888888vi / 5);
  height: calc(5.9vi / 5);
}
.img2_2131 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(35.2vi / 5);
}

/* 레이아웃 2441 = 4:3사진 2개 */
.text1_2441 {
  top: 0;
  right: 0;
  width: calc(17.35vi / 5);
  height: calc(17.9666667vi / 5);
}
.text2_2441 {
  bottom: 0;
  left: 0;
  width: calc(17.35vi / 5);
  height: calc(17.9666667vi / 5);
}
.img1_2441 {
  top: 0;
  left: 0;
  width: calc(17.35vi / 5);
  height: calc(23.1333333vi / 5);
}
.img2_2441 {
  bottom: 0;
  right: 0;
  width: calc(17.35vi / 5);
  height: calc(23.1333333vi / 5);
}

/* 레이아웃 2442 = 4:3사진 2개 */
.text1_2442 {
  top: 0;
  right: 0;
  width: calc(19.2875vi / 5);
  height: calc(20.55vi / 5);
}
.text2_2442 {
  bottom: 0;
  left: 0;
  width: calc(19.2875vi / 5);
  height: calc(20.55vi / 5);
}
.img1_2442 {
  top: 0;
  left: 0;
  width: calc(15.4125vi / 5);
  height: calc(20.55vi / 5);
}
.img2_2442 {
  bottom: 0;
  right: 0;
  width: calc(15.4125vi / 5);
  height: calc(20.55vi / 5);
}

/* 레이아웃 2551 = 16:9사진 2개 */
.text1_2551 {
  top: 0;
  right: 0;
  width: calc(17.35vi / 5);
  height: calc(10.2555555vi / 5);
}
.text2_2551 {
  bottom: 0;
  left: 0;
  width: calc(17.35vi / 5);
  height: calc(10.2555555vi / 5);
}
.img1_2551 {
  top: 0;
  left: 0;
  width: calc(17.35vi / 5);
  height: calc(30.8444444vi / 5);
}
.img2_2551 {
  bottom: 0;
  right: 0;
  width: calc(17.35vi / 5);
  height: calc(30.8444444vi / 5);
}
