:root {
  --main1: #f5998f;
  --main2: #57423f;
  --main3: #bfa6a2;
  --main4: #fff9f6;
  --main5: #9b8683;
  --main6: #f5998f;
  --gomin1: #2f4858;
  --gomin2: #455371;
  --gomin3: #6a5b82;
  --gomin4: #946087;
  --gomin5: #ba667e;
  --blur1: #fff9f680;
  /* 1번이 모달컬러 */
  --blur2: #ddccc380;
  /* 책장뒷편 쓰는색 */
  --deletecolor: linear-gradient(
    135deg,
    rgba(116, 91, 127, 1) 0%,
    rgba(245, 153, 143, 1) 100%
  );
  --followcolor: linear-gradient(
    135deg,
    rgba(148, 96, 135, 1) 0%,
    rgba(69, 83, 113, 1) 100%
  );
  --papercolor: linear-gradient(
    150deg,
    rgba(255, 250, 247, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
}

.container {
  padding: 40px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}
.cover {
  width: calc(35.2vw * 0.6);
  height: calc(48vw * 0.6);
  border-radius: 0 5px 5px 0;
  position: relative;
}

.cover2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(35.2vw * 0.6);
  height: calc(48vw * 0.6);
  border-radius: 0 5px 5px 0;
  z-index: -3;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}
.layouts,
.colors,
.main {
  display: flex;
}
.main_left {
  margin: 40px;
  background: url("../../assets/book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(35.2vw * 1.045 * 0.6);
  height: calc(48vw * 1.03 * 0.6);
  position: relative;
}

.main_right {
  margin: 0px 40px;
  width: 520px;
}
.layouts {
  padding: 0px 40px 20px;
  gap: 30px;
  flex-wrap: wrap;
  width: 520px;
}
.layout {
  width: calc(35.2vw * 0.2);
  height: calc(48vw * 0.2);
  border-radius: 5px;
  background-color: var(--main3);
  position: relative;
  transition: transform 0.3s;
}
.layout > div {
  background-color: #947b78;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
}
.layText1 {
  top: 10%;
  left: 25%;
  width: 50%;
  height: 20%;
}
.layImg1 {
  position: absolute;
  top: 35%;
  left: 12.5%;
  width: 75%;
  height: 55%;
}
.layText2 {
  top: 70%;
  left: 25%;
  width: 50%;
  height: 20%;
}
.layImg2 {
  position: absolute;
  top: 10%;
  left: 12.5%;
  width: 75%;
  height: 55%;
}
.layText3 {
  top: 10%;
  left: 65%;
  width: 25%;
  height: 30%;
}
.layImg3 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50%;
  height: 80%;
}
.layText4 {
  top: 10%;
  left: 10%;
  width: 25%;
  height: 30%;
}
.layImg4 {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 50%;
  height: 80%;
}
.layText5 {
  top: 70%;
  left: 40%;
  width: 50%;
  height: 20%;
}
.layImg5 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  height: 55%;
}
.layText6 {
  top: 10%;
  left: 10%;
  width: 50%;
  height: 20%;
}
.layImg6 {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 60%;
  height: 55%;
}

.colors {
  width: 520px;
  gap: 10px;
  padding: 0 20px 20px;
}
.color {
  width: 33px;
  height: 33px;
  border-radius: 18px;
  transition: transform 0.3s;
  transform: scale(1);
  cursor: pointer;
}
.color1 {
  background-color: #a77171;
}
.color2 {
  background-color: #f08d8d;
}
.color3 {
  background-color: #e9bb90;
}
.color4 {
  background-color: #ffda7c;
}
.color5 {
  background-color: #9ee093;
}
.color6 {
  background-color: #8bd7dc;
}
.color7 {
  background-color: #96adff;
}
.color8 {
  background-color: #c882ff;
}
.color9 {
  background-color: #d6d6d6;
}
.color10 {
  background-color: #8e8e8e;
}
.color11 {
  background: linear-gradient(
    135deg,
    rgba(105, 200, 255, 1) 0%,
    rgba(255, 119, 119, 1) 50%,
    rgba(198, 119, 255, 1) 100%
  );
}
.backcolor1 {
  background-color: #804d4d;
}
.backcolor2 {
  background-color: #b25757;
}
.backcolor3 {
  background-color: #b07f51;
}
.backcolor4 {
  background-color: #bb983f;
}
.backcolor5 {
  background-color: #518f46;
}
.backcolor6 {
  background-color: #3f868b;
}
.backcolor7 {
  background-color: #4960b4;
}
.backcolor8 {
  background-color: #7b41a6;
}
.backcolor9 {
  background-color: #9f9f9f;
}
.backcolor10 {
  background-color: #5a5a5a;
}
.backcolor11 {
  background: linear-gradient(
    135deg,
    rgb(74, 154, 200) 0%,
    rgb(210, 85, 85) 50%,
    rgb(123, 63, 166) 100%
  );
}
.categorys {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categorytitle {
  font-size: 20px;
}
.category {
  width: 200px;
  background-color: var(--main3);
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.categoryImg {
  width: 18px;
}

.bookCreate {
  width: 50px;
  margin: 0 auto;
  background-color: var(--main2);
  color: var(--main3);
  text-align: center;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.text {
  position: absolute;
  border-radius: 5px;
  opacity: 0.7;
  border: none;
  resize: none;
  font-size: 25px;
  text-align: center;
}

.select {
  transform: scale(1.2);
}
.nameContainer {
  margin: 10px 0;
  height: 270px;
  overflow-y: auto;
  overflow-x: hidden;
}
.name {
  background-color: var(--main3);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.name:hover {
  background-color: var(--main2);
  color: var(--main3);
}

.selectName {
  background-color: var(--main2);
  color: var(--main3);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
