.container {
  padding: 40px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}
.cover {
  width: calc(35.2vi * 0.6);
  height: calc(48vi * 0.6);
  background-color: #ff8077;
  border-radius: 0 5px 5px 0;
}

.cover2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(35.2vi * 0.6);
  height: calc(48vi * 0.6);
  background-color: #c95e56;
  border-radius: 0 5px 5px 0;
  z-index: -3;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}
.layouts,
.colors,
.main {
  display: flex;
}
.main_left {
  margin: 40px;
  background: url("../../assets/book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(35.2vi * 1.045 * 0.6);
  height: calc(48vi * 1.03 * 0.6);
  position: relative;
}

.main_right {
  margin: 0px 40px;
  width: 520px;
}
.layouts {
  padding: 0px 40px 20px;
  gap: 30px;
  flex-wrap: wrap;
  width: 520px;
}
.layout {
  width: calc(35.2vi * 0.2);
  height: calc(48vi * 0.2);
  border-radius: 5px;
  background-color: #ff8077;
}
.colors {
  width: 520px;
  gap: 10px;
  padding: 0 20px 20px;
}
.color {
  width: 33px;
  height: 33px;
  border-radius: 18px;
  background-color: #c95e56;
}
.categorys {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categorytitle {
  font-size: 20px;
}
.category {
  background-color: var(--main3);
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.categoryImg {
  width: 18px;
}

.bookCreate {
  width: 50px;
  margin: 0 auto;
  background-color: var(--main2);
  color: var(--main3);
  text-align: center;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 20px;
}
