.FileInput {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
}
.info {
  width: 300px;
  height: 300px;
  border: solid 3px #000;
}

.FileInput-preview {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.FileInput-preview.selected {
  opacity: 0.7;
}

.FileInput-hidden-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.FileInput-clear-button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 26px;
  height: 26px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}
