.modalContainer {
  position: relative;
}

.modal {
  position: absolute;
  padding: 15px;
  z-index: 2;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  background-color: var(--blur1);
  border-radius: 10px;
  /* height: 600px; */
}

/* .modal::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 20px;
  border: 8px solid transparent;
  border-top: none;

  border-bottom-color: var(--blur1);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
} */
.flex {
  display: flex;
  justify-content: space-between;
}
.modalClose {
  color: var(--gomin5);
}

.modal > div {
  font-size: 16px;
}
.flex > div {
  cursor: pointer;
}
.title {
  cursor: pointer;
}
