:root {
  --main1: #f5998f;
  --main2: #57423f;
  --main3: #bfa6a2;
  --main4: #fff9f6;
  --main5: #9b8683;
  --main6: #f5998f;
  --gomin1: #2f4858;
  --gomin2: #455371;
  --gomin3: #6a5b82;
  --gomin4: #946087;
  --gomin5: #ba667e;
  --blur1: #fff9f680;
  /* 1번이 모달컬러 */
  --blur2: #ddccc380;
  /* 책장뒷편 쓰는색 */
  --deletecolor: linear-gradient(
    135deg,
    rgba(116, 91, 127, 1) 0%,
    rgba(245, 153, 143, 1) 100%
  );
  --followcolor: linear-gradient(
    135deg,
    rgba(148, 96, 135, 1) 0%,
    rgba(69, 83, 113, 1) 100%
  );
  --papercolor: linear-gradient(
    150deg,
    rgba(255, 250, 247, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
}
@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --gmarket-sans: "SEBANG_Gothic_Bold";
  --noto-sans: -apple-system, "Noto Sans KR", sans-serif;
}

html {
  font-family: var(--noto-sans);
  font-size: 16px;
  font-weight: 400;
}

textarea,
input,
div,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--gmarket-sans);
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--main2);
}

h1 {
  font-size: 2.4vi;
}
h2 {
  font-size: 2vi;
}
h3 {
  font-size: 1.8vi;
}
h4 {
  font-size: 1.6vi;
}
h5 {
  font-size: 1.3vi;
}
h6 {
  font-size: 1vi;
}
