body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f8e9e1 0%, #fdeaea 50%, #f8e9e1 100%);
  animation: gradientBG 5s ease infinite;
  background-size: 5000% 5000%;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
