.head {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookpage {
  width: 85%;
  height: 90%;
  background-color: #d85858;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main4);
}
.body {
  display: flex;
  justify-content: center;
}
.middle {
  position: relative;
  width: 100%;
  background-color: #d85858;
}
.책추가,
.책갈피로이동 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.책검색,
.옵션 {
  position: absolute;
  top: 0px;
  right: 0px;
}

.mainbook {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: rgba(175, 25, 25, 0);
}
.캐러셀 {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 26vh;
  background-color: aquamarine;
  padding: 10px 0;
  /* 추가: 마우스가 캐러셀 위에 있을 때만 스크롤바를 표시 */
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
}

.캐러셀::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.캐러셀아이템 {
  flex: 0 0 auto;
  width: 150px; /* 가로 크기 */
  height: 200px; /* 세로 크기 */
  margin-right: 10px;
  scroll-snap-align: start;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 추가: 마우스를 올렸을 때 크기 확대 */
  transition: flex-grow 0.3s ease, margin 0.3s ease, width 0.3s ease;
}

.캐러셀아이템:hover {
  flex-grow: 2;
  margin: 0 30px;
}
.notselected {
  width: 10%;
  margin-right: 10px;
}

.캐러셀아이템.selected {
  transform: scale(1.1); /* 선택 시 확대 효과 */
  width: 30%; /* 선택된 아이템이 더 크게 보이도록 조정할 수 있습니다. */
}

.bookCoverImage {
  width: 60%;
  height: auto;
  border-radius: 5px;
}

.bookTitle {
  margin-top: 5px;
}
