.demoPage {
  height: 92%;
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

.page {
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BookDetailPage.module.css 내에 추가될 스타일 */
.bookContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
