.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 20px;
  margin: 10px auto;
}

.options {
  text-align: end;
  font-size: 20px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.middle {
  margin: 0 auto;
}
.책추가 {
  text-align: center;
  width: 70px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 10px 40px;
  background-color: var(--main3);
  border-radius: 5px;
  transition: 0.3s;
}
.책추가:hover {
  background-color: var(--main2);
  color: var(--main3);
  transform: scale(1.1);
}

.캐러셀 {
  height: 600px;
  overflow-y: auto;
  width: 620px;
  padding: 0 20px 10px;
  /* background-color: #d4b3b3; */
}

.캐러셀아이템 {
  width: 90%;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  padding: 20px;
}

.캐러셀아이템:hover {
  transform: scale(1.03);
}

.캐러셀아이템.selected {
  transform: scale(1.03);
  height: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.캐러셀아이템:not(.selected) {
  height: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.fff {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
}
.bookTitle {
  font-size: 30px;
}
.bookCoverImage {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.writerflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 100px;
}
.writerImage {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.writerImage2 {
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
.writer {
  font-size: 20px;
}

/* qnr */
.selectedBook {
  background-color: var(--blur1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 var(--main3);
}

.main_left {
  margin: 20px;
  background: url("../../assets/book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(35.2vw * 1.045 * 0.7);
  height: calc(48vw * 1.03 * 0.7);
  position: relative;
  cursor: pointer;
}

.cover {
  width: calc(35.2vw * 0.7);
  height: calc(48vw * 0.7);
  border-radius: 0 5px 5px 0;
  position: relative;
}

.cover2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(35.2vw * 0.7);
  height: calc(48vw * 0.7);
  border-radius: 0 5px 5px 0;
  z-index: -3;
}

/* .layouts {
  padding: 0px 40px 20px;
  gap: 30px;
  flex-wrap: wrap;
  width: 520px;
}
.layout {
  width: calc(35.2vw * 0.2);
  height: calc(48vw * 0.2);
  border-radius: 5px;
  background-color: var(--main3);
  position: relative;
  transition: transform 0.3s;
}
.layout > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
} */
.layText1 {
  top: 10%;
  left: 25%;
  width: 50%;
  height: 20%;
}
.layImg1 {
  position: absolute;
  top: 35%;
  left: 12.5%;
  width: 75%;
  height: 55%;
}
.layText2 {
  top: 70%;
  left: 25%;
  width: 50%;
  height: 20%;
}
.layImg2 {
  position: absolute;
  top: 10%;
  left: 12.5%;
  width: 75%;
  height: 55%;
}
.layText3 {
  top: 10%;
  left: 65%;
  width: 25%;
  height: 30%;
}
.layImg3 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50%;
  height: 80%;
}
.layText4 {
  top: 10%;
  left: 10%;
  width: 25%;
  height: 30%;
}
.layImg4 {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 50%;
  height: 80%;
}
.layText5 {
  top: 70%;
  left: 40%;
  width: 50%;
  height: 20%;
}
.layImg5 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  height: 55%;
}
.layText6 {
  top: 10%;
  left: 10%;
  width: 50%;
  height: 20%;
}
.layImg6 {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 60%;
  height: 55%;
}
.img {
  border-radius: 5px;
}
.color1 {
  background-color: #a77171;
}
.color2 {
  background-color: #f08d8d;
}
.color3 {
  background-color: #e9bb90;
}
.color4 {
  background-color: #ffda7c;
}
.color5 {
  background-color: #9ee093;
}
.color6 {
  background-color: #8bd7dc;
}
.color7 {
  background-color: #96adff;
}
.color8 {
  background-color: #c882ff;
}
.color9 {
  background-color: #d6d6d6;
}
.color10 {
  background-color: #8e8e8e;
}
.color11 {
  background: linear-gradient(
    135deg,
    rgba(105, 200, 255, 1) 0%,
    rgba(255, 119, 119, 1) 50%,
    rgba(198, 119, 255, 1) 100%
  );
}
.backcolor1 {
  background-color: #804d4d;
}
.backcolor2 {
  background-color: #b25757;
}
.backcolor3 {
  background-color: #b07f51;
}
.backcolor4 {
  background-color: #bb983f;
}
.backcolor5 {
  background-color: #518f46;
}
.backcolor6 {
  background-color: #3f868b;
}
.backcolor7 {
  background-color: #4960b4;
}
.backcolor8 {
  background-color: #7b41a6;
}
.backcolor9 {
  background-color: #9f9f9f;
}
.backcolor10 {
  background-color: #5a5a5a;
}
.backcolor11 {
  background: linear-gradient(
    135deg,
    rgb(74, 154, 200) 0%,
    rgb(210, 85, 85) 50%,
    rgb(123, 63, 166) 100%
  );
}

.text {
  position: absolute;
  border-radius: 5px;
  opacity: 1;
  font-size: 25px;
  text-align: center;
  text-shadow: 0 0 3px var(--main4);
}
.categoryImg {
  width: 23px;
  height: 20px;
}

.select {
  transform: scale(1.2);
}
.nameContainer {
  margin: 10px 0;
}
.name {
  background-color: var(--main3);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.name:hover {
  background-color: var(--main2);
  color: var(--main3);
}

.selectName {
  background-color: var(--main2);
  color: var(--main3);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.noneBook {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.noneTitle {
  font-size: 25px;
  text-shadow: 0 0 2px var(--main2);
}
.noneButton {
  padding: 10px 40px;
  border-radius: 5px;
  background-color: var(--main3);
  margin: 40px;
  transition: 0.3s;
}

.noneButton:hover {
  background-color: var(--main2);
  color: var(--main3);
  transform: scale(1.1);
}

.texts {
  color: var(--main5);
  text-shadow: 0 0 2px var(--main4);
}

.option {
  margin: 10px 0;
  cursor: pointer;
}
.delete {
  color: var(--gomin5);
}

.deleteTitle {
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
}

.can {
  padding: 10px 40px;
  background-color: var(--main3);
  border-radius: 5px;
  cursor: pointer;
}

.del {
  padding: 10px 40px;
  background-color: #f08d8d;
  color: #b25757;
  border-radius: 5px;
  cursor: pointer;
}
