.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bookContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 50px;
  padding-bottom: calc(100vh - 850px);
}

.demoPage {
  height: 100%;
  text-align: center;
  /* padding: 20px; */
  background-color: white;
  /* border: 1px solid black; */
  box-shadow: inset 0 0 15px var(--main2);
}
