/* 피드컨테이너 */
.feedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.noneFeed {
  z-index: -1;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 330px;
  height: 200px;
  text-align: center;
}
.noneText {
  font-size: 30px;
  text-shadow: 0 0 3px 0 var(--main2);
}

.createButton {
  padding: 10px 10px;
  color: var(--main5);
  margin: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

/* 콘텐츠들 */
.StackCarousel_contents {
  width: 37.4vi; /* 11*3.4 */
  height: 51vi; /* 15*3.4 */
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(0, 1fr);
  align-items: end;
  transition: 0.5s;
  transform: translateX(17vw) scale(0.9);
}
.StackCarousel_translate {
  transition: transform 0.5s;
  transform: scale(0.8) translateX(3vw);
}

/* 콘텐츠  */
.StackCarousel_content {
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transform-origin: bottom;
  position: relative;
  z-index: 0;
  transform: translateY(1.6rem) scale(0.78);
  filter: brightness(90%);
  transition: filter 0.3s, transform 0.3s;
  pointer-events: none;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  min-height: 0.1rem;
  height: 100%;
  box-shadow: 0 0 25px -10px var(--main2);
  border-radius: 5px;
}
.StackCarousel_third {
  opacity: 1;
}
.StackCarousel_second {
  opacity: 1;
  transform: translateY(0.8rem) scale(0.89);
  filter: brightness(95%);
}
.StackCarousel_active {
  opacity: 1;
  z-index: 1;
  transition: transform 0.5s, z-index 0.3s linear 0.3s;
  transform: translateY(0);
  filter: brightness(100%);
  pointer-events: auto;
}
.StackCarousel_above {
  opacity: 1;
  transition: transform 1s;
  transform: translateY(-120rem) translateX(-30rem) rotate(-30deg);
  filter: brightness(100%);
}

/* 댓글 영역 */
.commentContainer {
  width: 33vi;
  transition: transform 0.8s, filter 0.8s;
  height: 92vh;
  margin-top: 4vh;
}
.commentActive {
  transform: translateX(0%) scale(1);
  filter: opacity(1);
}
.commentHide {
  transform: translateX(-50%) scale(0);
  filter: opacity(0);
}

/* 스래드추가 버튼 */
.create {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  background-color: var(--main3);
  padding: 20px;
  font-size: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.create:hover {
  background-color: var(--main2);
  color: var(--main3);
  transform: scale(1.1);
}
