@keyframes fadeInAnimation {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bg {
  background-color: #4c2b4a;
  width: 100vi;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  animation: fadeInAnimation 0.4s ease-in-out;
}
.bg01 {
  background-image: url("../../assets/mybrary_01.png");
}
.bg02 {
  background-image: url("../../assets/mybrary_02.png");
}
.bg03 {
  background-image: url("../../assets/mybrary_03.png");
}
.bg04 {
  background-image: url("../../assets/mybrary_04.png");
}
.bg05 {
  background-image: url("../../assets/mybrary_05.png");
}
.bg06 {
  background-image: url("../../assets/mybrary_06.png");
}
.bg07 {
  background-image: url("../../assets/mybrary_07.png");
}
.bg08 {
  background-image: url("../../assets/mybrary_08.png");
}
.bg09 {
  background-image: url("../../assets/mybrary_09.png");
}
.bg10 {
  background-image: url("../../assets/mybrary_10.png");
}
.bg11 {
  background-image: url("../../assets/mybrary_11.png");
}
.bg12 {
  background-image: url("../../assets/mybrary_12.png");
}
.bg13 {
  background-image: url("../../assets/mybrary_13.png");
}

.center {
  position: fixed;
  top: 50vh;
  left: 50vw;
}

.bookshelf {
  position: absolute;
  bottom: -8.4vi;
  left: 7vi;
  width: 14vw;
}
.bookshelfColor {
  bottom: 4vi;
  left: 22vi;
  width: 21vi;
}
.table {
  position: absolute;
  bottom: -22.4vi;
  left: -13.2vi;
  width: 20vw;
}
.tableColor {
  bottom: -20vi;
  left: 5vi;
  width: 22vi;
}
.easel {
  position: absolute;
  bottom: -19.4vi;
  left: -40.2vi;
  width: 12vw;
}
.easelColor {
  bottom: 2vi;
  left: -40vi;
  /* width: 20vi; */
}
.frame {
  position: absolute;
  bottom: 0vi;
  left: -30.2vi;
  width: 12vw;
}
.door {
  position: absolute;
  bottom: 0vi;
  left: -10.2vi;
  width: 8vw;
}
.postbox {
  position: absolute;
  bottom: -20.4vi;
  left: 22.2vi;
  width: 10vw;
}
.img {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.img:hover {
  animation: fadeIn 0.5s ease-in-out; /* 애니메이션 적용 */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  animation: trans 1s ease-in-out; /* 애니메이션 적용 */
}

.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  transition: transform 0.3s;
  transform: translateX(140%);
}

.profileContainer {
  margin: 70px 70px 0 0;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--blur1);
  backdrop-filter: blur(12.5px);
  box-shadow: 0 0 25px 0 #00000036;
}

.editButton {
  margin: 20px 70px 0 0;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: var(--blur1);
  backdrop-filter: blur(12.5px);
  box-shadow: 0 0 25px 0 #00000036;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn2 {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes trans {
  0% {
    transform: translateX(130%);
  }

  40% {
    transform: translateX(-10%);
  }

  60% {
    transform: translateX(5%);
  }

  80% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes trans2 {
  0% {
    transform: translateX(0%);
  }

  40% {
    transform: translateX(-2%);
  }

  60% {
    transform: translateX(5%);
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(130%);
  }
}
.profile {
  display: flex;
  gap: 10px;
}

.edit {
  position: absolute;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: var(--blur1);
  backdrop-filter: blur(12.5px);
  box-shadow: 0 0 25px 0 #00000036;
  animation: fadeIn2 0.7s ease-in-out;
  display: flex;
  gap: 10px;
  align-items: center;
}
.editbg {
  position: absolute;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: var(--blur1);
  backdrop-filter: blur(12.5px);
  box-shadow: 0 0 25px 0 #00000036;
  animation: fadeIn2 0.7s ease-in-out;
  padding-top: 25px;
}

.bgcont {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.backGroundColor {
  top: 70px;
  right: 70px;
}

.ok {
  top: 200px;
  right: 70px;
}
.colorTitle {
  margin-right: 20px;
}
.color {
  width: 2vi;
  height: 2vi;
  border-radius: 3vi;
}

.color1 {
  background-color: #e9e9e9;
}
.color2 {
  background-color: #6f6f6f;
}
.color3 {
  background-color: #343434;
}
.color4 {
  background-color: #816850;
}
.color5 {
  background-color: #d9a368;
}
.color6 {
  background-color: #4f566a;
}
.select {
  margin: 0.45vi;
  width: 1vi;
  height: 1vi;
  border-radius: 1vi;
  border: solid 0.1vi #ffffff;
  background-color: #343434;
}

.bgColor1 {
  background: linear-gradient(135deg, #ba667e 0%, #946087 50%, #6a5b82 100%);
}
.bgColor2 {
  background: linear-gradient(135deg, #f7a4a4 0%, #b6e2a1 50%, #fffbc1 100%);
}
.bgColor3 {
  background: linear-gradient(135deg, #594545 0%, #9e7676 50%, #e4d0d0 100%);
}
.bgColor4 {
  background: linear-gradient(135deg, #8785a2 0%, #ffc7c7 50%, #fff8ea 100%);
}
.bgColor5 {
  background: linear-gradient(135deg, #402b3a 0%, #d63484 50%, #ff9bd2 100%);
}

.bgColor6 {
  background: linear-gradient(135deg, #454380 0%, #a991a9 50%, #ffd6cd 100%);
}

.bgColor7 {
  background: linear-gradient(135deg, #503435 0%, #ba6d54 50%, #ffbe6d 100%);
}
.bgColor8 {
  background: linear-gradient(135deg, #ba3127 0%, #fe8053 50%, #ffbe6d 100%);
}
.bgColor9 {
  background: linear-gradient(135deg, #2d3250 0%, #7077a1 50%, #f6b17a 100%);
}

.bgColor10 {
  background: linear-gradient(135deg, #4a4b4f 0%, #888b99 50%, #d4d6dd 100%);
}

.bgColor11 {
  background: linear-gradient(135deg, #8987dd 0%, #83c0c1 50%, #96e9c6 100%);
}

.bgColor12 {
  background: linear-gradient(135deg, #445d48 0%, #d6cc99 50%, #fde5d4 100%);
}

.bgColor13 {
  background: linear-gradient(135deg, #474747 0%, #7cc5e5 50%, #e5e5e5 100%);
}
