.fadeIn {
  animation: fadeInAnimation 0.3s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOutAnimation 0.3s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeOutAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.검색글자 {
  font-size: 30px;
}
.header {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 15%;
}
.searchicon {
  width: 20px;
  height: 20px;
}
.searchInput {
  padding: 10px; /* 내부 여백 설정 */
  border: 1px solid #ccc; /* 테두리 스타일과 색상 설정 */
  border-radius: 20px; /* 둥근 테두리 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  width: 200px; /* 원하는 너비 설정 */
}

.searchContainer {
  display: flex;
}
.searchButton {
  padding: 8px 16px;
  background-color: var(--primary-color);
  /* color: #57423f; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.최근검색어 {
  display: flex;
  align-items: center;
  font-size: 19px;
}
.box {
  text-align: center;
  padding: 10px 15px 5px 15px;
  background-color: #bfa6a2;
  border-radius: 20px;
  cursor: pointer;
}
.최근검색어박스 {
  margin-left: 30px;
  display: flex;
  gap: 20px;
}
.앱솔루트 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  color: rgb(0, 0, 148);
  padding: 7px 12px 5px 12px;
  border-radius: 20px;
  border: 4px solid black;
  background-color: antiquewhite;
  z-index: 10;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 67%;
}

.middlemain {
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
}
.mid검색결과 {
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: rgb(255, 216, 216); */
  height: 40px;
  font-size: 25px;
  margin-bottom: 15px;
}
.mid버튼 {
  display: flex;
  width: 35%;
  height: 45px;
  gap: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  /* background-color: #bfa6a2; */
}
.mid버튼 button {
  width: 20%;
  height: 35px;
  font-size: 16px;
  background-color: rgb(235, 202, 190);
  color: #57423f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.오버플로우확인 {
  height: 100%;
  max-width: 100%;
  display: flex;
}
.게시글들어갈공간 {
  padding: 10px;
  width: 100%;
  height: 96%;
  max-height: 96%;
  max-width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.thread {
  position: relative;
  transition: all 0.1s;
  border-radius: 10px;
  width: 30%;
  height: 70%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdf8f6;
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25); */
}
.좋댓스 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 23px 30px 23px 30px;
}
.작성자 {
  flex: 3;
  display: flex;
  /* justify-content: center; */
  padding-left: 20px;
  align-items: center;
  gap: 0px 10px;
}
.작성자폰트 {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
.나머지좋댓스 {
  flex: 2.5;
  display: flex;
  align-items: center;
  gap: 0px 20px;
}
.infobox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userimage {
  width: 23px;
  height: 23px;
}
.fontsize1 {
  margin-top: 5px;
  font-size: 13px;
}
.main이미지 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
}
.스레드이미지 {
  width: 85%;
  height: 93%;
  padding-bottom: 20px;
}
::-webkit-scrollbar {
  width: 12px; /* 스크롤바 너비 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: antiquewhite; /* 트랙의 배경 색상 */
  border-radius: 10px;
}

/* 스크롤바 핸들 (thumb) */
::-webkit-scrollbar-thumb {
  background: #57423f; /* 핸들의 배경 색상 */
  border-radius: 10px;
}

/* 스크롤바 핸들 (thumb) 호버 */
::-webkit-scrollbar-thumb:hover {
  background: #866661; /* 핸들이 호버될 때의 색상 */
}

.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0px;
  left: -270px;
  background-color: var(--main3);
  padding: 20px;
  border-radius: 5px;
  width: 200px;
  font-size: 20px;
  max-height: 295px;
  overflow: hidden;
  /* z-index: 100; */
  box-shadow: 0 0 15 0 var(--main3);
}
.hr {
  border: 2px 0 0 0;
}
.key {
  cursor: pointer;
  transition: 0.3s;
}
.key:hover {
  transform: scale(1.04);
  color: var(--gomin5);
}

.noneKeyword {
  margin: 30px auto;
  font-size: 25px;
}
