.fadeIn {
  animation: fadeInAnimation 0.3s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOutAnimation 0.3s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeOutAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*  */
.main_left {
  margin: 20px;
  background: url("../../assets/book.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(35.2vw * 1.045 * 0.32);
  height: calc(48vw * 1.03 * 0.32);
  position: relative;
  cursor: pointer;
}
.cover {
  width: calc(35.2vw * 0.32);
  height: calc(48vw * 0.32);
  border-radius: 0 5px 5px 0;
  position: relative;
}
.cover2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(35.2vw * 0.32);
  height: calc(48vw * 0.32);
  border-radius: 0 5px 5px 0;
  z-index: -3;
}
.layText1 {
  top: 10%;
  left: 25%;
  width: 50%;
  height: 20%;
}
.layImg1 {
  position: absolute;
  top: 35%;
  left: 12.5%;
  width: 75%;
  height: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layText2 {
  top: 70%;
  left: 25%;
  width: 50%;
  height: 20%;
}
.layImg2 {
  position: absolute;
  top: 10%;
  left: 12.5%;
  width: 75%;
  height: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layText3 {
  top: 10%;
  left: 65%;
  width: 25%;
  height: 30%;
}
.layImg3 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layText4 {
  top: 10%;
  left: 10%;
  width: 25%;
  height: 30%;
}
.layImg4 {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 50%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layText5 {
  top: 70%;
  left: 40%;
  width: 50%;
  height: 20%;
}
.layImg5 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  height: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layText6 {
  top: 10%;
  left: 10%;
  width: 50%;
  height: 20%;
}
.layImg6 {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 60%;
  height: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
.color1 {
  background-color: #a77171;
}
.color2 {
  background-color: #f08d8d;
}
.color3 {
  background-color: #e9bb90;
}
.color4 {
  background-color: #ffda7c;
}
.color5 {
  background-color: #9ee093;
}
.color6 {
  background-color: #8bd7dc;
}
.color7 {
  background-color: #96adff;
}
.color8 {
  background-color: #c882ff;
}
.color9 {
  background-color: #d6d6d6;
}
.color10 {
  background-color: #8e8e8e;
}
.color11 {
  background: linear-gradient(
    135deg,
    rgba(105, 200, 255, 1) 0%,
    rgba(255, 119, 119, 1) 50%,
    rgba(198, 119, 255, 1) 100%
  );
}
.backcolor1 {
  background-color: #804d4d;
}
.backcolor2 {
  background-color: #b25757;
}
.backcolor3 {
  background-color: #b07f51;
}
.backcolor4 {
  background-color: #bb983f;
}
.backcolor5 {
  background-color: #518f46;
}
.backcolor6 {
  background-color: #3f868b;
}
.backcolor7 {
  background-color: #4960b4;
}
.backcolor8 {
  background-color: #7b41a6;
}
.backcolor9 {
  background-color: #9f9f9f;
}
.backcolor10 {
  background-color: #5a5a5a;
}
.backcolor11 {
  background: linear-gradient(
    135deg,
    rgb(74, 154, 200) 0%,
    rgb(210, 85, 85) 50%,
    rgb(123, 63, 166) 100%
  );
}

.text {
  position: absolute;
  border-radius: 5px;
  opacity: 1;
  font-size: 25px;
  text-align: center;
  text-shadow: 0 0 3px var(--main4);
}

/*  */
.검색글자 {
  font-size: 30px;
}
.header {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 15%;
}
.searchicon {
  width: 20px;
  height: 20px;
}
.searchInput {
  padding: 10px; /* 내부 여백 설정 */
  border: 1px solid #ccc; /* 테두리 스타일과 색상 설정 */
  border-radius: 20px; /* 둥근 테두리 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  width: 200px; /* 원하는 너비 설정 */
}
.searchInput:focus {
  outline: none;
  border: 2px solid #eda99e;
}

.searchContainer {
  display: flex;
}
.searchButton {
  padding: 8px 16px;
  background-color: var(--primary-color);
  /* color: #57423f; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.최근검색어 {
  display: flex;
  align-items: center;
  font-size: 19px;
}
.box {
  text-align: center;
  padding: 10px 15px 5px 15px;
  background-color: #bfa6a2;
  border-radius: 20px;
  cursor: pointer;
}
.최근검색어박스 {
  margin-left: 30px;
  display: flex;
  gap: 20px;
}
.앱솔루트 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  color: rgb(0, 0, 148);
  padding: 7px 12px 5px 12px;
  border-radius: 20px;
  border: 4px solid black;
  background-color: antiquewhite;
  z-index: 10;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 67%;
}

.middlemain {
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
}
.mid검색결과 {
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: rgb(255, 216, 216); */
  height: 40px;
  font-size: 25px;
  margin-bottom: 15px;
}
.mid버튼 {
  display: flex;
  width: 35%;
  height: 45px;
  gap: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  /* background-color: #bfa6a2; */
}
.mid버튼 button {
  width: 20%;
  height: 35px;
  font-size: 16px;
  background-color: rgb(235, 202, 190);
  color: #57423f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.오버플로우확인 {
  height: 100%;
  max-width: 100%;
  display: flex;
}
.게시글들어갈공간 {
  width: 100%;
  height: 96%;
  max-height: 96%;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 45px;
  left: 60px;
  background-color: #e0c2bc;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
  font-size: 20px;
  max-height: 700px;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 0 15 0 var(--main3);
}
.hr {
  border: 2px 0 0 0;
}
.key {
  cursor: pointer;
  transition: 0.3s;
}
.key:hover {
  transform: scale(1.04);
  color: var(--gomin5);
}

.noneKeyword {
  margin: 30px auto;
  font-size: 25px;
}
