.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffe1d2 0%, #fbcece 50%, #ffe1d2 100%);
  background-size: 200% 200%;
  animation: gradientBG 5s ease infinite;
  position: relative;
}

.문구 {
  text-align: center;
  color: white;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title {
  margin: 20px;
  font-size: 100px;
  background: linear-gradient(135deg, #7f5d4d 0%, #de6363 50%, #6e5041 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: gradientBG 3s ease infinite;
}
.text {
  font-size: 20px;
  margin: 40px;
}
.line1 {
  margin-top: 40px;
}
.button {
  margin: 40px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 15px -5px var(--main2);
}
.button:hover {
  background-color: var(--main1);
}
.zero {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}
.top {
  position: fixed;
  top: 0;
  width: 15vi;
  right: 42.5vi;
}
.left {
  position: fixed;
  bottom: -0.1vi;
  left: 0;
}
.right {
  position: fixed;
  bottom: -0.1vi;
  right: 0;
}
.cover1 {
  background-color: #604040;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 50vi;
  animation: leftcover 1s ease-in-out;
  transform: translateX(-150%) scale(1.3);
}
.cover2 {
  background-color: #604040;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 50vi;
  animation: rightcover 1s ease-in-out;
  transform: translateX(150%) scale(1.3);
}

@keyframes leftcover {
  0% {
    transform: translateX(0) scale(1.3) rotate(10deg) translateY(-5%);
  }
  100% {
    transform: translateX(-150%) rotate(-20deg) scale(1.3) translateY(20%);
  }
}
@keyframes rightcover {
  0% {
    transform: translateX(0) scale(1.3) rotate(-10deg) translateY(5%);
  }
  100% {
    transform: translateX(150%) rotate(20deg) scale(1.3) translateY(20%);
  }
}
