:root {
  --main1: #f5998f;
  --main2: #57423f;
  --main3: #bfa6a2;
  --main4: #fff9f6;
  --main5: #9b8683;
  --main6: #f5998f;
  --gomin1: #2f4858;
  --gomin2: #455371;
  --gomin3: #6a5b82;
  --gomin4: #946087;
  --gomin5: #ba667e;
  --blur1: #fff9f680;
  /* 1번이 모달컬러 */
  --blur2: #ddccc380;
  /* 책장뒷편 쓰는색 */
  --deletecolor: linear-gradient(
    135deg,
    rgba(116, 91, 127, 1) 0%,
    rgba(245, 153, 143, 1) 100%
  );
  --followcolor: linear-gradient(
    135deg,
    rgba(148, 96, 135, 1) 0%,
    rgba(69, 83, 113, 1) 100%
  );
  --papercolor: linear-gradient(
    150deg,
    rgba(255, 250, 247, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
}
.comment_container {
  height: 80%;
  overflow-y: auto;
}
/* 댓글목록공간 */
.comment_item {
  width: 89%;
  border-radius: 5px;
  background-color: #f8c3d2;
  padding: 0.7vi;
  box-shadow: 0 0 15px -5px var(--main2);
  margin: 1vi;
}
.comment_nickname {
  font-size: 1vi;
  margin-bottom: 0.3vi;
}
.comment_text {
  font-size: 0.8vi;
  margin-bottom: 0.3vi;
}

.comment_left,
.comment_right,
.comment_info {
  display: flex;
  justify-content: space-between;
}

/* 댓글작성공간 */
.comment_create {
  background-color: var(--main3);
  border-radius: 5px;
  width: 89%;
  margin: 1vi;
  padding: 0.7vi;
}
.user_img {
  width: 2.5vi;
  height: 2.5vi;
  cursor: pointer;
}
