:root {
  --main1: #f5998f;
  --main2: #57423f;
  --main3: #bfa6a2;
  --main4: #fff9f6;
  --main5: #9b8683;
  --main6: #f5998f;
  --gomin1: #2f4858;
  --gomin2: #455371;
  --gomin3: #6a5b82;
  --gomin4: #946087;
  --gomin5: #ba667e;
  --comment1: #ffeaea;
  --comment2: #fff4ea;
  --comment3: #eafbff;
  --comment4: #f1eaff;

  --blur1: #fff9f680;
  /* 1번이 모달컬러 */
  --blur2: #ddccc380;
  /* 책장뒷편 쓰는색 */
  --deletecolor: linear-gradient(
    135deg,
    rgba(116, 91, 127, 1) 0%,
    rgba(245, 153, 143, 1) 100%
  );
  --followcolor: linear-gradient(
    135deg,
    rgba(148, 96, 135, 1) 0%,
    rgba(69, 83, 113, 1) 100%
  );
  --papercolor: linear-gradient(
    150deg,
    rgba(255, 250, 247, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
}
.comment_container {
  height: 80%;
  overflow-y: auto;
}
.comment_none {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2vi;
  text-shadow: 0 0 5px var(--main3);
}
/* 댓글목록공간 */
.comment_item {
  width: 88%;
  border-radius: 5px;
  /* background-color: #f8c3d2; */
  padding: 0.7vi;
  box-shadow: 0 0 15px -5px var(--main2);
  margin: 1vi;
  position: relative;
}
.대댓글박스 {
  width: 97.3%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment_item2 {
  width: 76%;
  border-radius: 5px;
  /* background-color: #f8c3d2; */
  padding: 0.7vi;
  box-shadow: 0 0 15px -5px var(--main2);
  margin: 0.4vi;
  position: relative;
}
.comment_nickname {
  font-size: 0.84vi;
  margin-bottom: 0.3vi;
  color: #342321;
}
.comment_text {
  font-size: 1vi;
  margin-bottom: 0.3vi;
  color: #2a2525;
  padding-top: 5px;
  padding-bottom: 2px;
}
.수정글자 {
  font-size: 0.8vi;
  color: #3bb8d4;
}
.삭제글자 {
  cursor: pointer;
  font-size: 0.8vi;
  color: #e2567e;
}
.답글달기글자 {
  cursor: pointer;
  font-size: 0.8vi;
}
.대댓글수 {
  font-size: 0.8vi;
  cursor: pointer;
}
.중간막대기 {
  font-size: 0.8vi;
  color: #bfa6a2;
}
.삭제글자 {
  position: absolute;
  top: 10px;
  right: 10px;
}

.comment_left,
.comment_right,
.comment_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3vi;
  font-size: 1vi;
}

/* 댓글작성공간 */
.comment_create {
  background-color: var(--main3);
  border-radius: 5px;
  width: 89%;
  margin: 1vi;
  padding: 0.7vi;
}
.user_img {
  width: 2.5vi;
  height: 2.5vi;
  cursor: pointer;
  border-radius: 100px;
}

.comment_create_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment_create_left {
  display: flex;
  align-items: center;
  gap: 0.4vi;
}
.user_nickname {
  font-size: 1vi;
}
.comment_colors {
  display: flex;
  gap: 0.2vi;
}
.comment_colors > div {
  width: 2vi;
  height: 2vi;
  border-radius: 2vi;
  border: solid 1.5px rgb(65, 65, 65);
  cursor: pointer;
}
.color_0 {
  background-color: #e5cabc;
  transition: 0.3s;
}
.selected {
  border: 2.4px solid rgb(99, 59, 38);
}
.color_1 {
  background-color: #f9caca;
  transition: 0.3s;
}
.color_2 {
  background-color: #fce0c6;
  transition: 0.3s;
}
.color_3 {
  background-color: #c5f4ff;
  transition: 0.3s;
}
.color_4 {
  background-color: #d6c2ff;
  transition: 0.3s;
}

.comment_input {
  margin-top: 1vi;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.버튼 {
  cursor: pointer;
  border: 0px;
  width: 8%;
  height: 2vi;
  border-radius: 0.5vi;
  background-color: #fffffe;
  transition: 0.3s;
}
.버튼:hover {
  background-color: #606060;
  color: #ffffff;
}
.cancelReplyButton {
  cursor: pointer;
  border: 0px;
  background-color: #b7aaaa;
  padding: 0.4vi;
  border-radius: 0.5vi;
  transition: 0.3s;
}
.cancelReplyButton:hover {
  background-color: #a4978d;
}

.comment_input > input {
  width: 87%;
  height: 2vi;
  padding: 0 0.5vi;
  border-radius: 0.5vi;
  font-size: 1vi;
  outline: none;
  border: none;
}
