.flex {
  display: flex;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: var(--gomin5);
  cursor: pointer;
  transition: 0.2s;
}
.close:hover {
  color: var(--gomin4);
}
/* 콘텐츠들 */
.StackCarousel_contents {
  width: 715px;
  height: 700px;
  transition: 0.8s;
}
.content {
  transform: scale(0.9) translateX(-30px) translateY(-35px);
  transition: 0.8s;
}
.content2 {
  transform: scale(0.9) translateX(300px) translateY(-35px);
  transition: 0.8s;
}

/* 콘텐츠  */
.StackCarousel_content {
  position: relative;
  z-index: 0;
  box-shadow: 0 0 25px -10px var(--main2);
  border-radius: 5px;
  opacity: 1;
  z-index: 1;
  filter: brightness(100%);
  pointer-events: auto;
}
.StackCarousel_active {
}

/* 댓글 영역 */
.commentContainer {
  width: 600px;
  transition: transform 0.8s, filter 0.8s;
  height: 700px;
}
.commentActive {
  transform: translateX(-10%) scale(1);
  filter: opacity(1);
}
.commentHide {
  transform: translateX(-50%) scale(0);
  filter: opacity(0);
}
